<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col" style="text-align: center">Time</th>
    <th scope="col" style="text-align: center">From</th>
    <th scope="col" style="text-align: center">To</th>
    <th scope="col" style="text-align: center">Price</th>
    <button  class="btn btn-success" (click)="openDialog()">Create Flight</button>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let flight of flights">
    <th scope="row">{{flight.id}}</th>
    <td>{{flight.time}}</td>
    <td>{{flight.from.name}}</td>
    <td>{{flight.to.name}}</td>
    <td>{{flight.price}}</td>
    <td></td>
  </tr>
  </tbody>
</table>

