<div class="jumbotron text-center">
  <h1>Airlines Ticket Booking</h1>
  <p>Book Early Fly Early!!</p>
  <form class="form-inline" name="form">
    <div class="input-group">

      <table class="search-details">
        <tr>
          <td>
            <label>Flying From</label>
          </td>
          <td>
            <label>Flying To</label>
          </td>
          <td>
            <label>Departing</label>
          </td>

          <td>
            <label>Passengers</label>
          </td>

          <td></td>
        </tr>
        <tr>
          <td>
            <input type="text" class="form-control" size="30" name="from" placeholder="Flying From" required>
          </td>
          <td>
            <input type="text" [(ngModel)]="flight.to" name="to" class="form-control" size="30" placeholder="Flying To" required>
          </td>
          <td>
            <input type="date" class="form-control" name="departure" size="30" placeholder="Departing" required>
          </td>
          <td>
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Passenger
                <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">2 Adults</a></li>
                <li><a href="#">1 Adult</a></li>
              </ul>
            </div>
          </td>
          <td>
            <button type="button" class="btn btn-danger" (click)="check()">Search</button>
          </td>
        </tr>
      </table>
    </div>
  </form>
</div>
