<div class="jumbotron text-center">
  <h1>Airlines Ticket Booking</h1>
  <p>Book Early Fly Early!!</p>
  <form class="form-inline" name="form">
    <div class="input-group">

      <table class="search-details">
        <tr>
          <td>
            <label>Flying From</label>
          </td>
          <td>
            <label>Flying To</label>
          </td>
          <td>
            <label>Departing</label>
          </td>

          <td>
            <label>Passengers</label>
          </td>

          <td></td>
        </tr>
        <tr>
          <td>
            <input [(ngModel)]="flight.locationFrom" name="locationFrom" class="form-control" size="30" placeholder="Flying From">
          </td>
          <td>
            <input [(ngModel)]="flight.locationTo" name="locationTo" class="form-control" size="30" placeholder="Flying To">
          </td>
          <td>
            <input [(ngModel)]="flight.date" class="form-control" name="date" size="30" placeholder="Date" type="date">
          </td>
          <td>
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Passenger
                <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">2 Adults</a></li>
                <li><a href="#">1 Adult</a></li>
              </ul>
            </div>

          </td>
          <td>
            <button type="button" class="btn btn-danger" (click)="searchFlight()">Search</button>
          </td>
        </tr>
      </table>
    </div>
  </form>
</div>
