<form>
  <!--<div class="form-row">-->
    <!--<div class="form-group col-md-6">-->
      <!--<label for="name">Name</label>-->
      <!--<input #name type="text" class="form-control" id="name"-->
             <!--placeholder="Name">-->
    <!--</div>-->

    <!--<div class="form-group col-md-6">-->
      <!--<label for="capacity">Capacity</label>-->
      <!--<input [ngModel]="airplane.name" class="form-control" id="capacity"-->
             <!--placeholder="capacity">-->
    <!--</div>-->
  <!--</div>-->
  <button type="submit" class="btn btn-primary" (click)="save()" >Save</button>
</form>
