<div class="container" style="background-color: #EFF0F1;">
  <div class="jumbotron text-center">
    <h1>Airlines Ticket Booking</h1>
    <p>Book Early Fly Early!!</p>


  </div>


  <div style="width: 70%; margin:0 auto;">
    <h3>Passenger details</h3>
    <p>Please enter all passenger names as they appear on the passenger's government-issued photo identification.
      ( * indicates required)</p>

    <form >
      <div class="form-group">
        <label for="fullName">Fullname*</label>
        <input type="text" class="form-control" id="fullName" [(ngModel)]="customer.fullName" name="fullName">
      </div>

      <div class="form-group">
        <label for="email">Email address*</label>
        <input type="text" class="form-control" id="email"  [(ngModel)]="customer.email" name="email">
      </div>

      <div class="form-group">
        <label for="dob">Date of birth*</label>
        <input type="date" class="form-control" id="dob"  [(ngModel)]="customer.dob" name="dob">
      </div>

      <hr/>
      <h5>Payment Details</h5>
      <div class="form-group">
        <label for="debit">Master card*</label>
        <input type="text" class="form-control" id="debit" >
      </div>

      <div class="form-group">
        <label for="debit">Expires*</label>
        <input type="text" class="form-control" id="expires" >
      </div>

      <button class="btn btn-primary" (click)="bookFlight();">Submit</button>

    </form>
  </div>

  <br/><br/><br/><br/>
</div>
