<div class="jumbotron text-center">
  <h1>Airlines Ticket Booking</h1>
  <p>Admin pannel</p>
  <button class="btn btn-danger" style="float: right;" routerLink="../login">Logout</button>
</div>

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" routerLink="airplane-list" routerLinkActive="active">Airplanes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="flight-list" routerLinkActive="active">Flights</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <router-outlet></router-outlet>
  </div>
</div>
